@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
}

body {
    @apply bg-neutral-950 text-neutral-200;
}

textarea,
input {
    @apply border border-neutral-500;
}

textarea:focus,
input:focus {
    outline: none;
    @apply outline outline-2  outline-blue-400;
}

::selection {
    @apply bg-blue-300/50 text-white;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    @apply rounded-md bg-neutral-950/50;
}
::-webkit-scrollbar-thumb {
    @apply rounded-md bg-blue-500;
}
